.taskScreenMainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.taskScreenContentMainContainer{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.taskScreenContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.taskScreenTitle{
    display:flex;
    background-color: #0e131d;
    color: white;
    width: 100%;
    height: 6vh;
    justify-content: center;
}

.taskScreenNoActiveSprint{
    background-color: #0e131d;
    color: white;
}
.taskScreenActiveSprint{
    display: none;
}
.taskScreenTitle button{
    max-width: 30vw;
    align-self: center;
    margin: 1rem;
    padding: .5rem;
    background-color: white;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    display: flex;
    justify-content: space-evenly;
}
.taskScreenTitle h2{
    margin: 1rem;
}
.taskScreenBoardsBackground{
    display: flex;
    flex-direction: column;
    background-color: #0e131d;
    align-items: center;
    height: 100%;
}
.taskScreenBoard{
    background-color:#171f30;
    border-radius: .8rem;
    padding: 1rem;
    color: white;
    min-height: 20%;
    max-height: 70%;
    width: 80%;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 15px #020913;
}
.taskScreenCardContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    gap:1rem;
}

.sprintDescriptionContainer{
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: #0e131d;
    color: #a3b9e2;
}

.createTaskButtonContainer{
    position:fixed;
    bottom: 2vh;
    right:2vw;
}

.createTaskButtonContainer button{
    display: flex;
    width:4rem;
    height:4rem;
    border:none;
    border-radius: 1rem;
    font-size: 50px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background-color: #4fc2f7;
    color:#09121d;
    transition: transform 0.15s ease-in-out;
}

.createTaskButtonContainer button:hover{
    transform: scale(1.1);
    align-items: center;
}

@media (min-width: 768px){
    .taskScreenContentMainContainer{
        width: 100%;
        height: 100%;
    }
    .taskScreenContent{
        min-width: 70%;
        height: 100%;
    }
}
@media (min-width: 1200px){
    .taskScreenBoardsBackground{
        flex-direction:row;
        align-items: baseline;
    }
    .taskScreenContentMainContainer{
        min-width: 70%;
        height: 94%;
    }
    .taskScreenContent{
        min-width: 80%;
        height: 100%;
    }
    
}