.taskScreenMainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.taskScreenContentMainContainer{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.taskScreenContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.taskScreenTitle{
    display:flex;
    background-color: #09121d;
    color: white;
    width: 100%;
    height: 6vh;
    justify-content: center;
}

.taskScreenNoActiveSprint{
    background-color: #091930;
    color: white;
}
.taskScreenActiveSprint{
    display: none;
}
.taskScreenTitle button{
    max-width: 30vw;
    align-self: center;
    margin: 1rem;
    padding: .5rem;
    background-color: white;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    display: flex;
    justify-content: space-evenly;
}
.taskScreenTitle h2{
    margin: 1rem;
}
.taskScreenBoardsBackground{
    display: flex;
    flex-direction: column;
    background-color: #09121d;
    overflow-y: auto;
    align-items: center;
    height: 100%;
}
.taskScreenBoard{
    background-image: linear-gradient(#144579, #0f273f);
    border-radius: .8rem;
    padding: 1rem;
    color: white;
    min-height: 20%;
    max-height: 70%;
    width: 80%;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: 0px 10px 15px #020913;
}
.taskScreenCardContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

}

.sprintDescriptionContainer{
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: #09121d;
    color: #a3b9e2;
}

@media (min-width: 768px){
    .taskScreenContentMainContainer{
        width: 100%;
        height: 100%;
    }
    .taskScreenContent{
        min-width: 70%;
        height: 100%;
    }
}
@media (min-width: 1200px){
    .taskScreenBoardsBackground{
        flex-direction:row;
        align-items: baseline;
    }
    .taskScreenContentMainContainer{
        min-width: 70%;
        height: 94%;
    }
    .taskScreenContent{
        min-width: 80%;
        height: 100%;
    }
    
}