.backlogCardMainContainer{
    height: 30%;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    background-color: #3e7cce;
    color: white;
    justify-content: space-between;
    border-radius: .5rem;
}
.backlogCardMainContainerButtons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: end;
    height: 20%;
}
.backlogCardMainContainerButtons button{
    border: none;
    padding: .2rem;
    font-size: 1rem;
}
.backlockCardSelect{
    display: flex;
}
.backlockCardSelectNotShow{
    display: none;
}

.backlogCardSendToButton{
    background-color:white;
    border: none;
    border-radius: .5rem;
}

.backlogCardIconButtons{
    background-color: transparent;
    margin-left: 1vw;
}

.backlogCardEditButtons{
    display: flex;
    width: 100%;
    align-self: flex-end;
}

.backlogCardTitles{
    height: 30%;
}

.backlogCardTitles h2{
    padding-bottom: .3vh;
}