.springScreenMainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.springScreenContentContainer{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

}
.springScreenTaskContainer{
    display: flex;
    flex-direction: column;
    color: white;
    min-width: 100%;
    height: 100%;
}
.springScreenTaskContainerTitles{
    display: flex;
    align-items: center;
    background-color: #09121d;
    width: 100%;
    height: 10%; 
    justify-content: center;
    text-align: center;
}
.springScreenTaskContainerTitles button{
    align-self: center;
    max-width: 5rem;
    padding: .3rem;
    background-color: white;
    border: none;
    border-radius: .3rem;
}
.springScreenTaskContainerTitles h2,h4{
    padding-top: 1vh;
    margin-left: 1rem;
}
.springScreenTaskContainerTitles h4{
    color: #a3b9e2;
}
.springScreenListTaskContainer{
    background-color: #09121d;
    align-items: top;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    
}
.springScreenListTask{
    background-color: #09121d;
    display: flex;
    width: 95%;
    height: 85%;
    flex-wrap: wrap;
    gap:1vw;
    align-content: baseline;
}

.createTaskButtonContainer{
    position:fixed;
    bottom: 2vh;
    right:2vw;
}

.createTaskButtonContainer button{
    display: flex;
    width:4rem;
    height:4rem;
    border:none;
    border-radius: 1rem;
    font-size: 50px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background-color: #4fc2f7;
    color:#09121d;
    transition: transform 0.15s ease-in-out;
}

.createTaskButtonContainer button:hover{
    transform: scale(1.1);
    align-items: center;
}

@media (min-width: 768px){
    .springScreenTaskContainer{
        min-width: 70%;
        height: 100%;
    }
}
@media (min-width: 1200px){
    .springScreenTaskContainer{
        min-width: 80%;
        height: 100%;
    }
    .springScreenListTask{
        width: 95%;
        height: 90%;
    }
}