.taskCardContainer{
    display: flex;
    flex-direction: column;
    background-color: #20304B;
    width: 95%;
    padding: 1rem;
    border-radius: .8rem;
    box-shadow: 0px 5px 15px #07172c;
    max-width: 20vw;
}
.taskCardTitle{
    width: 90%;
    margin-bottom: .3rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.taskCardButtonsContainer{
    display: flex;
    width: 30%;
}
.selectTaskCard{
    background-color: white;
    border: none;
    padding: .3rem;
    margin-right: .4rem;
}
.taskCardButtonsContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}
.taskCardButtonDiv{
    display: flex;

}
