.sideBarMainContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: brightness(90%) blur(2px);
}
.sideBarMainContainerNotShow{
    display: none;
}
.sideBarContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #040c14; 
}
.sideBarContainer button{
    max-width: 30vw;
    align-self: center;
    margin: 1rem;
    padding: .5rem;
    background-color: white;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    display: flex;
    align-self: center;
}
.sideBarTitle{
    color: white;
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 1rem;
    padding-bottom: 1vh;
    justify-content: space-between;
}

.sideBarCreateSprintButton svg{
    vertical-align: middle;
}

.sideBarTitle h3{
    margin-top: 10px;
    margin-left: 3rem;
    padding: none;
}
.sideBarTitle h3:hover{
    cursor: pointer;
}
.sideBarListContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #383f5e;
    border: none;
    margin-bottom: 0.75rem;
}

@media (min-width: 768px){
    .sideBarMainContainer{
        position: relative;
        min-width: 40%;
    }
    .sideBarMainContainerNotShow{
        display: flex;
        width: 100%;
    }
    .sideBarContainer{
        width: 100%;
    }
    
    
    
}
